.checkout {
  color: $main-text-color;
  background: $main-background-color;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 0.3rem;
  width: 15rem;
  font-size: 1rem;
  .fa {
    margin-left: 1rem;
  }
  &:hover {
    @include hover-btn;
  }
  &:active {
    @include active-btn;
  }
}
