.passwordForgetLink {
  text-decoration: none;
  color: $second-text-color;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}

.passwordForgetForm {
  text-align: center;
  margin: 3rem 0 3rem 0;

  input[type='text'] {
    @include inputBox;
  }

  &-submit-btn {
    @include main-button(white);
    margin-left: calc(50% - 12.5rem);
    @include transition-ease;
    width: 25rem;
    &:hover {
      @include hover-btn;
    }
    &:active {
      @include active-btn;
    }
  }
}
