.passwordChangeFrom {
  input[type='password'] {
    @include inputBox;
    margin: 2rem;
  }

  h2 {
    margin-top: 2rem;
  }

  &-submit-btn {
    @include main-button(black);
    @include transition-ease;
    border: none;
    width: 25rem;
    &:hover {
      @include hover-btn;
    }
    &:active {
      @include active-btn;
    }
  }
}
