// sizes
$footer-height: 22rem;
$nav-height: 9rem;

// text
$nav-text: 1.6rem;
$title-text-size: 3rem;
$sub-title-text-size: 3rem;

$title-font: 0;

// colors
$main-text-color: white;
$second-text-color: black;

$main-background-color: black;

$gray: gray;
